.container {
  width: 100vw;
  min-height: 100vh;
  background: #221334;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1440px) {
    .main {
      width: 1366px;

      .title {
        display: flex;
        align-items: center;

        .icon {
          width: 26px;
          height: 26px;
          box-sizing: border-box;
          border: 1.3px solid #00D7D7;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0;
          margin-right: 16px;
        }

        .text {
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          color: #00D7D7;
        }
      }

      .list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;

        >div {
          margin-right: 68px;

          &:nth-child(4n) {
            margin-right: 0;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1440px) {
    .main {
      width: 1000px;

      .title {
        display: flex;
        align-items: center;

        .icon {
          width: 26px;
          height: 26px;
          box-sizing: border-box;
          border: 1.3px solid #00D7D7;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0;
          margin-right: 16px;
        }

        .text {
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          color: #00D7D7;
        }
      }

      .list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;

        >div {
          margin-right: 60px;

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }
  }

  @media screen and (min-width: 600px) and (max-width: 1024px) {
    .main {
      width: 650px;

      .title {
        display: flex;
        align-items: center;

        .icon {
          width: 26px;
          height: 26px;
          box-sizing: border-box;
          border: 1.3px solid #00D7D7;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0;
          margin-right: 16px;
        }

        .text {
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          color: #00D7D7;
        }
      }

      .list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .main {
      width: 300px;

      .title {
        display: flex;
        align-items: center;
        margin-top: 20px;

        .icon {
          width: 26px;
          height: 26px;
          box-sizing: border-box;
          border: 1.3px solid #00D7D7;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0;
          margin-right: 16px;
        }

        .text {
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          color: #00D7D7;
        }
      }

      .list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
      }
    }
  }
}